*{
	margin:0px;
	box-sizing:border-box;
}
html{
	overflow:hidden;
}

#zasady{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 10%;
	height: 5vh;
	background-color: white;
	border: 3px solid black;
	text-align: center;
}
#zasady>a{
	display:inline-block;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

main.laduje{
	background-color:#333;
	width:100%;
	height:100vh;
	position:relative;
}
main{
	position:relative;
}
/* 
do ładowania
 */
#as{
	display:none;
}
#ladowanie{
	color:#FFF;
	font-size:7.5vh;
	font-family:Impact;
	position:relative;
	top:15vh;
	text-align:center;
}
#loadingbox{
	width:75%;
	height:50vh;
	background-color:white;
	border:5px solid black;
	border-radius:10vh;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#loadingbox>p{
	position:absolute;
	top:20%;
	width:100%;
	text-align:center;
	font-size:5vh;
}
#loadingbox>span{
	position:absolute;
	top:55%;
	left:15%;
	height:10%;
	font-size:4vh;
}
#pasek{
	background-color:#CCC;
	opacity:0.8;
	border:2px solid black;
	height:10%;
	width:60%;
	position:absolute;
	top:55%;
	left:30%;
}
#pasek>div{
	height:100%;
	width:0%;
	background-color:#0A0;
}
/*
	po załadowaniu
*/

#zaklad{
	width:100%;
	height:100vh;
	position:absolute;
	top:0px;
	background-color:rgba(102,102,102,0.9);
	overflow:hidden;
}
#zaklad2{
	transform-origin:0 0;
	list-style-type:none;
	margin:5% 15%;
}
#zaklad2 li{
	display:flex;
}
#zaklad2 li>*{
	margin-left:20px;
}
.przycisk{
	height:100px;
	position:relative;
	top:100px;
	transform:translateY(-50%);
	width:150px;
	font-size:50px;
	border:2px solid black;
	border-radius:20px;
}
.przycisk:hover{
	background-color:#999;
}
.przycisk:active{
	box-shadow:inset 0px 0px 5px 0.5px;
}
.ilosc{
	text-align:center;
	height:150px;
	position:relative;
	top:100px;
	transform:translateY(-50%);
	width:150px;
	font-size:50px;
	border:2px solid black;
	border-radius:20px;
	background-color:#CCC;
}
.ilosc>span{
	position:relative;
	display:inline-block;
	top:50%;
	transform:translateY(-50%);
}
#suma{
	width:10%;
	position:absolute;
	left:50%;
	bottom:5vh;
	transform:translateX(-50%);
	height:7.5vh;
	font-size:4vh;
	border:2px solid black;
	background-color:white;
}
#suma>p{
	text-align:center;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.zeton{
	width:200px;
	height:200px;
	background-image:url("../chipsprite.png");
	transform-origin:0 0;
}

#postaw{
	width:10%;
	text-align:center;
	background-color:#ffff99;
	height:6vh;
	font-size:4vh;
	position:absolute;
	bottom:6vh;
	left:58%;
	border:2px solid black;
	border-radius:1vh;
	display:none;
}
#postaw:hover{
	background-color:#ffff1a;
}
#postaw:active{
	box-shadow:inset 0px 0px 5px 0.5px;
}

#hajs{
	position:fixed;
	background-color:white;
	bottom:0px;
	left:0px;
	border-top:2px solid black;
	border-right:2px solid black;
	text-align:center;
	width:25%;
	height:5vh;
	font-size:4vh;
	z-index:10;
}



#stolik{
	margin:auto;
	background:url("../table.png") center/contain no-repeat;
	position:relative;
}
#talia{
	width:131px;
	height:82px;
	position:absolute;
	top:9.75%;
	left:27.75%;
	transform-origin:0 0;
	background-image:url("../talia.png");
	background-position:-10px 0px;
}
.karta{
	width:79px;
	height:123px;
	box-shadow:0px 0px 0px 0px;
	background-image:url("../cardsprite.png");
	background-position:79px 123px;
	position:absolute;
	transform-origin:0 0;
	top:0px;
	left:0px;
}

#stos{
	position:absolute;
	left: 6.8%;
	bottom: 0%;
	width: 200px;
	transform-origin:left bottom;
	min-height:200px;
	transition:bottom 1s ease-out,left 1s ease-out;
	z-index:15;
}
#stos>div{
	position:absolute;
	width:100%;
	background-image:url("../chipsprite.png");
	height:200px;
}
.stos2{
	position:absolute;
	left:47%;
	bottom:110%;
	width: 200px;
	transform-origin:left bottom;
	min-height:200px;
	transition:bottom 1s ease-out,left 1s ease-out;
	z-index:10;
}
.stos2>div{
	position:absolute;
	width:100%;
	background-image:url("../chipsprite.png");
	height:200px;
}

#aktualnyzaklad{
	border:2px solid white;
	height:5vh;
	font-size:3.5vh;
	text-align:center;
	width:6%;
	position:absolute;
	bottom:48%;
	left:25%;
	color:white;
}

.wtd{
	position:absolute;
	top:72.5%;
	width:10%;
	height:5%;
	background-color:#ffffcc;
	border:1px solid black;
	display:none;
	text-align:center;
}
.wtd>span{
	display:inline-block;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.wtd:hover{
	background-color:#ffff99;
}
.wtd:active{
	box-shadow:inset 0px 0px 5px 0.5px;
}
.disabled{
	position:absolute;
	top:72.5%;
	width:10%;
	height:5%;
	background-color:#b3b3b3;
	border:1px solid black;
	text-align:center;
}
.disabled>span{
	display:inline-block;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

#hit{
	left:33%;
}
#stand{
	left:45%;
}
#ddown{
	left:57%;
}
#split{
	left:45%;
	top:80%;
}

.sumy{
	width: 5%;
	height: 5%;
	background-color: white;
	border: 1px solid black;
	position: absolute;
	text-align:right;
}
.sumy>span{
	display:inline-block;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
#sumagr{
	left: 36%;
	top: 58%;
}
#sumakr{
	left: 36%;
	top:23%;
}

#ubezpieczenie{
	position:absolute;
	width: 9.9%;
	height: 7%;
	top: 36.5%;
	left: 45.1%;
	
	display:none;
}
#ubezpieczenie:active{
	box-shadow:inset 0px 0px 5px 0.5px;
}


.ubzzwykle{
	background-color: rgba(255,255,77,0.3);
	box-shadow:0px 0px 5px 0.5px red;
}
.ubzzwykle:hover{
	background-color: rgba(255,255,77,0.5);
}


.ubzevenmoney{
	background-color: rgb(7, 159, 22);
}
.ubzevenmoney:hover{
	background-color:#3bf74e;
}
.ubzevenmoney>p{
	text-align:center;
	color:white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


#nie{
	position:absolute;
	top:36.5%;
	left:60%;
	width:7%;
	min-height:6vh;
	border:2px solid white;
	background-color: rgba(255,255,77,0.3);
	color:white;
	font-size:1.75vh;
	text-align:center;
	display:none;
}
#nie:hover{
	background-color: rgba(255,255,77,0.5);
}
#nie:active{
	box-shadow:inset 0px 0px 5px 0.5px;
}

#kwota{
	position:absolute;
	top:36.5%;
	left:37%;
	width:7%;
	height:6vh;
	border:2px solid white;
	background-color: rgba(255,255,77,0.3);
	color:white;
	font-size:3vh;
	text-align:left;
	display:none;
}
#ubz{
	z-index:20;
	position:absolute;
	left:6.8%;
	bottom:0%;
	width: 200px;
	transform-origin:left bottom;
	min-height:200px;
	transition:bottom 1s ease-out,left 1s ease-out;
}



#wiadomosc{
	position:absolute;
	left:50%;
	transform:translate(-50%,-50%);
	top:40%;
	background-color:white;
	border:2px solid black;
	border-radius:10vh;
	width:40%;
	height:40%;
	z-index:20;
	text-align:center;
}
#wiadomosc>span{
	position:relative;
	top:50%;
	transform:translateY(-50%);
	height:35%;
}

#k1,#k2{
	top:14%;
}
#g1,#g2{
	top:49.75%;
}
#k1,#g1{
	left:43.57%;
}
#k2,#g2{
	left:50.93%;
}